[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.11.1"
djangorestframework-jwt = "==1.11.0"
django-cors-headers = "==3.5.0"
asgiref = "==3.2.10"
pytz = "==2020.1"
sqlparse = "==0.3.1"
Django = "==3.1.1"
PyJWT = "==1.7.1"

[requires]
python_version = "3.8"
