.wrapper {
  height: 100vh;
  width: 100vw;
  color: #3a3a3a;
  background-color: #fffcfa;
  font-family: "Montserrat", sans-serif;
  font-kerning: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  letter-spacing: 10px;
}

.loginPageContainer,
form {
  width: 500px;
}

.loginPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.loginPageContainer h3 {
  padding-bottom: 39px;
}

.loginFormContainer,
.loginFormContainer form input {
  width: 100%;
}

.formInput,
.formInput:active {
  box-shadow: none;
  border: 1px solid rgba(58, 58, 58, 0.4);
  outline: none;
  background-color: transparent;
  height: 30px;
  margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(58, 58, 58, 0.4);
  -webkit-text-fill-color: #3a3a3a;
  -webkit-box-shadow: 0 0 0px 1000px #fffcfa inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Montserrat", sans-serif;
}

.loginButton,
.registerButton {
  background-color: transparent;
  border: 1px solid rgba(58, 58, 58, 0.4);
  font-family: "Montserrat", sans-serif;
  height: 30px;
  width: 160px !important;
  cursor: pointer;
}
