form {
  justify-content: center;
}

.callToActionRegistration,
.registrationForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.callToActionRegistration {
  margin-top: 39px;
}

.callToActionRegistration h4 {
  margin: 0;
}

.registrationForm {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

form input {
  width: 100%;
}

form {
  text-align: center;
}

.registerButton {
  width: 160px;
  margin-top: 13px;
}

.pinkcircle,
.greencircleRegistration {
  position: absolute;
}

.pinkcircle {
  width: 700px;
  height: 700px;
  border-radius: 100%;
  background-color: #f8c3b2;
  right: 0;
  top: 0;
  transform: translate(200px, -200px);
}

.greencircleRegistration {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #9fe5d5;
  bottom: 0;
  left: 0;
  transform: translate(-100px);
}
