ol,
ul {
  padding-left: 30px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
  background: var(--white);
  border: 1px solid rgba(58, 58, 58, 0.3);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  width: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}

.gameArea,
.gameResult,
.gameResult img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gameArea {
  padding: 0 100px 0 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.boardRows {
  width: 600px;
}

.playAs,
.status,
.gameResult {
  text-align: center;
}

.playAs img {
  width: 200px;
}

.status {
  margin-bottom: 30px;
}

.gameResult a {
  font-size: 25px;
  display: block;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.gameResult img {
  height: 600px;
  z-index: -2;
}

.gameResult a:hover {
  letter-spacing: 3px;
}
