@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 61px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 39px;
}

h4 {
  font-size: 25px;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}
