@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --pink: #f8c3b2;
  --green: #9fe5d5;
  --black: #3a3a3a;
  --yellow: #ffdca7;
  --white: #fffcfa;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 30px;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 61px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 39px;
}

h4 {
  font-size: 25px;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.homeLogo {
  margin-top: 0 !important;
}

.yellowcircle,
.greencircle {
  position: absolute;
  z-index: -2;
}

.yellowcircle {
  width: 700px;
  height: 700px;
  border-radius: 100%;
  background-color: #ffdca7;
  left: 0;
  top: 0;
  transform: translate(-200px, -200px);
}

.greencircle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #9fe5d5;
  bottom: 0;
  right: 0;
  transform: translate(100px, -100px);
}
